<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">サークル一覧</h1>


    <h1>運動系サークル</h1>
    <ul class="circle-list">
      <% @users.each do |user| %>
      <% if user.kind=="0" %>
            <li>
            <!-- <img src="<%= "/user_images/#{user.image_name}" %>"> -->
            <%= link_to(user.name,"/users/#{user.id}") %>
            </li>
        <% end %>
      <% end %>
    </ul>

    <h1>文化系サークル</h1>
    <ul class="circle-list">
    <% @users.each do |user| %>
    <% if user.kind=="1" %>
      <li>
      <!-- <img src="<%= "/user_images/#{user.image_name}" %>"> -->
      <%= link_to(user.name,"/users/#{user.id}") %>
      </li>
      <% end %>
    <% end %>
    </ul>

    <h1>非公認サークル</h1>
    <ul class="circle-list">
    <% @users.each do |user| %>
    <% if user.kind=="2" %>
      <li>
      <!-- <img src="<%= "/user_images/#{user.image_name}" %>"> -->
      <%= link_to(user.name,"/users/#{user.id}") %>
      </li>
    <% end %>
    <% end %>
    </ul>

    <h1>学生団体</h1>
    <ul class="circle-list">
    <% @users.each do |user| %>
    <% if user.kind=="3" %>
      <li>
      <!-- <img src="<%= "/user_images/#{user.image_name}" %>"> -->
      <%= link_to(user.name,"/users/#{user.id}") %>
      </li>
      <% end %>
    <% end %>
    </ul>

  </div>
</div>
