<div class="main user-show">
  <div class="container">
    <div class="user">
      <img  src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <!-- <p><%= @user.circle_id %></p> -->
      <p>
      <!-- <%= safe_join(@user.user_content.split("\n"),tag(:br)) %> -->
      <%= @user.user_content %>

      </p>

      <% if @current_user %>
      <% if @user.id==@current_user.id %>
        <%= link_to("編集","/users/#{@user.id}/edit") %>
      <% else %>
      <% end %>
      <% end %>
    </div>

    <h1>投稿一覧</h1>

    <!-- <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %> -->
    <% @posts.each do |post| %>
      <% @count=@count+1 %>

      <%= link_to "/posts/#{post.id}" do %>
        <div class="posts-index-item" >
          <div class="post-left">
            <img src="<%= "/post_images/#{post.image_name}" %>">
          </div>
         <div class="post-right">
          <!-- <div class="post-date"> -->
            <%= post.created_at %>
          <!-- </div> -->
            <div class="post-title">
            <a>
              <!-- <%= link_to(post.title, "/posts/#{post.id}") %> -->
              <%= post.title %>
            </a>
            </div>
            <% if @current_user %>
              <% if @user.id == @current_user.id %>
                <div class="post-menus">
                  <%= link_to("編集","/posts/#{post.id}/edit") %>
                  <%= link_to("削除","/posts/#{post.id}/destroy",{method: "post"}) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

    <% if @count == 0 %>
      <p>まだ投稿がありません</p>
    <% end %>

  </div>
</div>
