<!DOCTYPE html>
<html>
  <head>
    <title>Circle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header-left">
        <li>
          <%= link_to("TOP","/") %>
        </li>
        <li>
          <%= link_to("サークル一覧","/users/index") %>
        </li>
      </ul>

      <div class="header-right">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>

        <li>
          <%= link_to("新規投稿","/posts/new") %>
        </li>
        <li>
          <%= link_to("ログアウト","/logout",{method: :post}) %>
        </li>
        <% else %>
        <li>
          <%= link_to("サークルログイン","/login") %>
        </li>
        <% end %>

      </div>
    </header>
    <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
